<div class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
    <div class="max-w-full overflow-x-auto">
        <!-- About Section -->
        <div class="bg-white p-3 shadow-sm rounded-sm">
            <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                <span clas="text-green-500">
                    <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                    </svg>
                </span>
                <span class="tracking-wide">About</span>
            </div>
            <div class="text-gray-700">
                <div class="grid md:grid-cols-2 text-sm">
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Name</div>
                        <div class="px-4 py-2">{{client?.name}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Package</div>
                        <div class="px-4 py-2">{{package?.name}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Contact No.</div>
                        <div class="px-4 py-2">{{client?.phone_num}}</div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="px-4 py-2 font-semibold">Email.</div>
                        <div class="px-4 py-2">
                            <a class="text-blue-800" href="mailto:{{client?.email}}">{{client?.email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Section -->
    </div>
</div>


<app-delete-modal [deletingRes]="deletingRes" (userInput)="delete($event)"></app-delete-modal>
  
<div
  class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
  <div class="max-w-full overflow-x-auto">

      <!-- Alert -->

      <!-- <div class="alert-container" *ngIf="alert.status == 1">
          <div *ngIf="alert.failure != ''" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <span class="font-medium">Error!</span> {{alert.failure}}
          </div>
          <div *ngIf="alert.success != ''" class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
              <span class="font-medium">Success!</span> {{alert.success}}
          </div>
      </div> -->

    <!-- <button class="add-new-button text-white font-bold py-2 px-4 rounded-full" (click)="isAdding = true">
      Add New
    </button> -->
    <table class="w-full table-auto">
      <thead>
        <tr class="bg-gray-2 text-left dark:bg-meta-4">
          <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">
            Amount
          </th>
          <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white">
            Package
          </th>
          <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white">
            Mode
          </th>
          <th class="py-4 px-4 font-medium text-black dark:text-white">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments">
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="text-black dark:text-white">₹ {{payment.amount}}</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <p class="inline-flex rounded-full bg-success bg-opacity-10 py-1 px-3 text-sm font-medium text-success">
              {{payment.package}}
            </p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
              <p class="text-black dark:text-white">{{payment.mode}}</p>
          </td>
          <td class="border-b border-[#eee] py-5 px-4 dark:border-strokedark">
            <div class="flex items-center space-x-3.5">
              <!-- Eye Button -->
              <button class="hover:text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                      <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                  </svg>                      
              </button>
              <!-- Delete button -->
              <button class="hover:text-primary" (click)="deletingRes = payment.id ?? -1">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
                  </svg>                      
              </button>
              <!-- Pencil Icon -->
              <!-- <button class="hover:text-primary" (click)="editPayment(payment)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path d="M2.695 14.763l-1.262 3.154a.5.5 0 00.65.65l3.155-1.262a4 4 0 001.343-.885L17.5 5.5a2.121 2.121 0 00-3-3L3.58 13.42a4 4 0 00-.885 1.343z" />
                    </svg>                                          
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Nothing here as such -->

    <div class="max-w-4xl mx-auto px-10 pb-3 bg-white rounded-lg" *ngIf="payments.length == 0">
      <div class="flex flex-col justify-center py-12 items-center">
  
        <div class="flex justify-center items-center">
          <img class="w-64 h-64"
            src="https://res.cloudinary.com/daqsjyrgg/image/upload/v1690257804/jjqw2hfv0t6karxdeq1s.svg"
            alt="image empty states">
        </div>
        <h1 class="text-gray-700 font-medium text-2xl text-center mb-3">Add first Payment!</h1>
        <p class="text-gray-500 text-center mb-6">Organize your payments from {{client?.name ?? 'clients'}} here.</p>
        <div class="flex flex-col justify-center">
          <button class="flex items-center px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" routerLink="/erp/clients">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6  mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Add New Payment
          </button>
          <a href="#" class="underline mt-4 text-sm font-light mx-auto">Learn more</a>
        </div>
      </div>
    </div>
</div>